In [1]:
# renaming pandas to pd
import pandas as pd
# let us make graphs
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
path = 'DOB_Complaints_Received_20241022.csv'
# popular naming convention - variables that area DataFrames end in _df
complaints_df = pd.read_csv(path)

C:\Users\Beichen HU\AppData\Local\Temp\ipykernel_22660\1629211055.py:3: DtypeWarning: Columns (5,7,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  complaints_df = pd.read_csv(path)

In [10]:
complaints_df.head()

,Complaint Number,Status,Date Entered,House Number,House Street,ZIP Code,BIN,Community Board,Special District,Complaint Category,Unit,Disposition Date,Disposition Code,Inspection Date,DOBRunDate
0,1000008,CLOSED,01/03/1989,101,1 AVENUE,10003,1006289,103,NaN,3,MAN.,01/04/1989,I2,01/03/1989,2024-10-21
1,1000009,CLOSED,01/03/1989,101,1 AVENUE,10003,1006289,103,NaN,1,MAN.,01/04/1989,I2,01/04/1989,2024-10-21
2,4000001,CLOSED,01/03/1989,255-17,IOWA ROAD,11362,4171655,411,NaN,45,QNS.,02/21/1996,C2,03/27/1989,2024-10-21
3,1000017,CLOSED,01/03/1989,179,WEST BROADWAY,10013,1001966,101,NaN,31,MAN.,01/06/1989,I2,01/04/1989,2024-10-21
4,1000022,CLOSED,01/03/1989,133,EAST 22 STREET,10010,1086544,106,NaN,46,MAN.,01/06/1989,A1,01/04/1989,2024-10-21

In [11]:
# dispaly will show me the first and last 5 rows, but also can see how many rows are in my dataset.
display(complaints_df)

,Complaint Number,Status,Date Entered,House Number,House Street,ZIP Code,BIN,Community Board,Special District,Complaint Category,Unit,Disposition Date,Disposition Code,Inspection Date,DOBRunDate
0,1000008,CLOSED,01/03/1989,101,1 AVENUE,10003,1006289,103,NaN,3,MAN.,01/04/1989,I2,01/03/1989,2024-10-21
1,1000009,CLOSED,01/03/1989,101,1 AVENUE,10003,1006289,103,NaN,1,MAN.,01/04/1989,I2,01/04/1989,2024-10-21
2,4000001,CLOSED,01/03/1989,255-17,IOWA ROAD,11362,4171655,411,NaN,45,QNS.,02/21/1996,C2,03/27/1989,2024-10-21
3,1000017,CLOSED,01/03/1989,179,WEST BROADWAY,10013,1001966,101,NaN,31,MAN.,01/06/1989,I2,01/04/1989,2024-10-21
4,1000022,CLOSED,01/03/1989,133,EAST 22 STREET,10010,1086544,106,NaN,46,MAN.,01/06/1989,A1,01/04/1989,2024-10-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2900477,3856352,CLOSED,05/27/2022,196,BROADWAY,11211,3059545,301,NaN,73,BKLYN,05/27/2022,A8,05/27/2022,2024-10-21
2900478,3862142,CLOSED,07/05/2022,1165,ELTON STREET,11239,3398621,305,NaN,53,BKLYN,07/13/2022,I2,07/13/2022,2024-10-21
2900479,3871303,CLOSED,08/30/2022,21,FULLER PLACE,11215,3027309,307,NaN,45,Q-L,01/06/2023,C2,01/06/2023,2024-10-21
2900480,4905111,CLOSED,10/18/2022,60-28,80 AVENUE,11385,4436554,405,NaN,7J,RTEU,10/19/2022,C2,10/19/2022,2024-10-21
2900481,3879796,CLOSED,10/28/2022,1753,65 STREET,11204,3133514,311,NaN,49,SPOPS,12/14/2022,A8,12/13/2022,2024-10-21

In [12]:
# pandas is returning a Series - a Series is bascially one collum
complaints_df.Status

0          CLOSED
1          CLOSED
2          CLOSED
3          CLOSED
4          CLOSED
            ...
2900477    CLOSED
2900478    CLOSED
2900479    CLOSED
2900480    CLOSED
2900481    CLOSED
Name: Status, Length: 2900482, dtype: object

In [13]:
type(complaints_df.Status)

pandas.core.series.Series

In [14]:
complaints_df.Status.value_counts()

Status
CLOSED    2874315
ACTIVE      26167
Name: count, dtype: int64

In [20]:
# subsection of my DateFrame - I want a new DataFrame where I only use active complaints. 
# think of it like a filter
# list comprenhensions! 2 dimensions - 2 sets of brackets
active_complaints_df = complaints_df[[complaint for complaint in complaints_df.Status == 'ACTIVE']]

In [17]:
# reminder of list comprehension
my_list = [1,2,3]
times3 = [x*3 for x in my_list]
print(times3)

[3, 6, 9]

In [22]:
display(active_complaints_df)

,Complaint Number,Status,Date Entered,House Number,House Street,ZIP Code,BIN,Community Board,Special District,Complaint Category,Unit,Disposition Date,Disposition Code,Inspection Date,DOBRunDate
305840,4164903,ACTIVE,04/22/2003,37-06,82 STREET,11372.0,4545554,403.0,NaN,49,NaN,NaN,NaN,NaN,2024-10-21
314614,1110389,ACTIVE,07/31/2003,1313,ST NICHOLAS AVENUE,10033.0,1063555,112.0,NaN,49,NaN,NaN,NaN,NaN,2024-10-21
314661,5040821,ACTIVE,09/06/2003,330,FINGERBOARD ROAD,10305.0,5045459,502.0,NaN,49,NaN,NaN,NaN,NaN,2024-10-21
333897,4173348,ACTIVE,08/22/2003,2304,36 AVENUE,11106.0,4004237,401.0,NaN,49,NaN,NaN,NaN,NaN,2024-10-21
337375,3117206,ACTIVE,08/11/2003,45,GARNET STREET,11231.0,3008170,306.0,NaN,49,NaN,NaN,NaN,NaN,2024-10-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2900432,3965417,ACTIVE,06/19/2024,1165,ELTON STREET,11239,3398621,305,NaN,6M,ELEVR,NaN,NaN,NaN,2024-10-21
2900434,4966349,ACTIVE,07/20/2024,60-28,80 AVENUE,11385,4436554,405,NaN,45,Q-L,09/12/2024,C3,09/12/2024,2024-10-21
2900435,3971680,ACTIVE,08/07/2024,1165,ELTON STREET,11239,3398621,305,NaN,6M,ELEVR,NaN,NaN,NaN,2024-10-21
2900441,2400076,ACTIVE,09/06/2024,500,EAST 166 STREET,10456,2001268,203,NaN,29,BRONX,09/27/2024,D1,09/27/2024,2024-10-21
2900444,4972355,ACTIVE,09/16/2024,60-28,80 AVENUE,11385,4436554,405,NaN,45,Q-L,NaN,NaN,NaN,2024-10-21

In [23]:
active_complaints_df[100:110]

,Complaint Number,Status,Date Entered,House Number,House Street,ZIP Code,BIN,Community Board,Special District,Complaint Category,Unit,Disposition Date,Disposition Code,Inspection Date,DOBRunDate
840976,1139915,ACTIVE,04/09/2005,208,EAST 82 STREET,10028.0,1048578,108.0,NaN,49,NaN,NaN,NaN,NaN,2024-10-21
850592,1140080,ACTIVE,04/12/2005,210,3 AVENUE,10003.0,1017882,106.0,NaN,49,NaN,NaN,NaN,NaN,2024-10-21
853351,1123667,ACTIVE,06/03/2004,217,EAST 85 STREET,10028.0,1085217,108.0,NaN,49,NaN,NaN,NaN,NaN,2024-10-21
863250,1260937,ACTIVE,07/17/2009,37,CROSBY STREET,10013.0,1076935,102.0,NaN,2F,ERT,07/30/2009,R8,07/30/2009,2024-10-21
863546,3313952,ACTIVE,07/31/2009,48,NORTH 1 STREET,11211.0,3335757,301.0,NaN,2F,ERT,07/31/2009,RN,07/31/2009,2024-10-21
863664,3312421,ACTIVE,07/18/2009,722,METROPOLITAN AVENUE,11211.0,3338159,301.0,NaN,2F,ERT,07/31/2009,R8,07/30/2009,2024-10-21
863673,3314006,ACTIVE,07/31/2009,55,HEYWARD STREET,11211.0,3060964,301.0,NaN,2F,ERT,07/31/2009,RA,07/31/2009,2024-10-21
863675,3314004,ACTIVE,07/31/2009,53,LYNCH STREET,11206.0,3061137,301.0,NaN,2F,ERT,05/22/2012,R8,04/02/2010,2024-10-21
863681,3314010,ACTIVE,07/31/2009,572,GRAND STREET,11211.0,3069511,301.0,NaN,2F,ERT,07/31/2009,RA,07/31/2009,2024-10-21
863682,3314011,ACTIVE,07/31/2009,572,GRAND STREET,11211.0,3069511,301.0,NaN,2F,ERT,07/31/2009,RM,07/31/2009,2024-10-21

In [32]:
elev_accidents_df = complaints_df[[complaint for complaint in complaints_df['Complaint Category'] == '81']]

In [33]:
display(elev_accidents_df)

,Complaint Number,Status,Date Entered,House Number,House Street,ZIP Code,BIN,Community Board,Special District,Complaint Category,Unit,Disposition Date,Disposition Code,Inspection Date,DOBRunDate
393287,4116978,CLOSED,10/13/2000,136-50,ROOSEVELT AVENUE,11354,4113551,407,NaN,81,ELEVR,11/06/2000,A1,10/13/2000,2024-10-21
393419,1092558,CLOSED,12/06/2001,151,WEST 34 STREET,10001,1015219,105,NaN,81,ELEVR,12/07/2001,I2,12/06/2001,2024-10-21
394532,1106878,CLOSED,04/28/2003,2411,8 AVENUE,10027,1084065,110,NaN,81,ELEVR,05/01/2003,A1,04/28/2003,2024-10-21
394679,1106850,CLOSED,04/28/2003,151,WEST 34 STREET,10001,1015219,105,NaN,81,ELEVR,05/01/2003,A1,04/28/2003,2024-10-21
394748,1099845,CLOSED,08/19/2002,60,EAST 54 STREET,10022,1035733,105,NaN,81,ERT,08/21/2002,A1,08/19/2002,2024-10-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2693654,1531300,CLOSED,12/20/2019,350,5 AVENUE,10118.0,1015862,105.0,NaN,81,ELEVR,12/20/2019,I2,12/20/2019,2024-10-21
2724707,3924595,CLOSED,08/29/2023,460,FLUSHING AVENUE,11205.0,3348619,303.0,NaN,81,ELEVR,08/30/2023,A8,08/29/2023,2024-10-21
2739329,1618416,CLOSED,09/19/2022,200,LIBERTY STREET,10281.0,1000057,101.0,NaN,81,ELEVR,09/20/2022,A8,09/19/2022,2024-10-21
2780291,3935696,CLOSED,11/17/2023,114,ALBEMARLE ROAD,11218.0,3124505,312.0,NaN,81,ELEVR,11/20/2023,I2,11/17/2023,2024-10-21
2847574,1668776,CLOSED,05/24/2024,392,CENTRAL PARK WEST,10025.0,1055287,107,NaN,81,ELEVR,05/24/2024,I2,05/24/2024,2024-10-21

In [41]:
# tolist() can convert a pandas list into a python list
street_names = elev_accidents_df['House Street'].tolist()
# overwrite my variable to get rid of white space
# street_names = [street.rstrip() for street in street_names]

house_numbers = elev_accidents_df['House Number'].tolist()
print(house_numbers)

['136-50', '151', '2411', '151', '60', '10307', '136-50', '452', '212', '115', '200', '842', '529', '94', '65', '125', '151', '2895', '151', '2655', '3410', '246', '151', '1439', '271', '45', '5102', '151', '136-50', '441', '112', '303', '1401', '136-50', '136-50', '136-50', '216', '136-50', '39', '3041', '450', '441', '380', '1', '32', '10', '151', '3340', '441', '136-50', '124-21', '1745', '34-05', '868', '622', '274', '12421', '441', '1535', '139-05', '2190', '830', '830', '2307', '191', '77', '575', '4149', '575', '441', '161-10', '35', '1439', '1409', '136-50', '322', '1409', '441', '866', '151', '20', '2260', '2170', '1735', '451', '2655', '40', '286', '463', '151', '136-50', '332', '1815', '1555', '136-50', '530', '1998', '2950', '116', '151', '4', '151', '370', '2225', '441', '151', '781', '151', '135', '151', '395', '1830', '157', '53', '441', '1825', '136-50', '21', '200', '1889', '136-50', '430', '189', '441', '14', '1998', '151', '151', '36', '1420', '1420', '3250', '2187', '96-05', '2307', '151', '1411', '1315', '33', '136-20', '12', '341', '200', '201', '1455', '2999', '1385', '1154', '441', '441', '441', '1151', '64', '441', '130', '1', '441', '215', '177', '953', '65', '441', '80', '270-05', '459', '132', '214', '506', '1555', '1158', '1', '2532', '260-19', '40-20', '441', '625', '5400', '2160', '200', '1000', '491', '220', '1451', '422', '1170', '589', '67', '2975', '1000', '3050', '2655', '4140', '22', '66-26', '1000', '112', '20', '11', '953', '90-15', '270', '2999', '1992', '1970', '159-26', '1010', '441', '1409', '15', '136-50', '46', '300', '428', '156', '65', '148', '441', '1515', '312', '441', '2655', '90-15', '46', '1100', '1441', '154', '100', '2991', '25', '360', '1734', '2307', '1132', '20', '40', '136-50', '190', '140', '83-60', '151', '5400', '466', '341', '17', '96-05', '441', '153', '2375', '1241', '23-25', '32', '44', '130', '2130', '151', '270', '699', '125', '422', '101', '36-17', '66-26', '405', '550', '1409', '151', '151', '309', '160', '1135', '2', '441', '441', '1998', '225', '710', '1409', '760', '136-50', '1175', '100', '265-31', '441', '151', '420', '799', '840', '2505', '1', '132-35', '243', '151', '147', '1000', '109-20', '115', '2395', '130', '30-15', '4', '102', '123', '136-50', '136-50', '441', '1000', '372', '62', '56-33', '90-28', '340', '19-21', '151', '1275', '96', '441', '115', '1455', '1000', '1315', '441', '95-05', '9', '151', '747', '102', '96-05', '13650', '1249', '110', '1345', '325', '52', '1734', '200', '246', '200', '1735', '151', '441', '25', '151', '441', '5400', '151', '674', '9605', '200', '130', '1745', '830', '96-05', '441', '151', '2307', '2307', '340', '20', '8844', '441', '441', '1441', '2307', '441', '1111', '429', '241', '200', '37', '1000', '1515', '26', '64-21', '136-50', '267', '325', '333', '245', '1160', '425', '2855', '2680', '135', '151', '102-50', '1809', '1694', '997', '540', '331', '1317', '1317', '240', '361', '90-15', '420', '420', '32-52', '9605', '2307', '200', '151', '441', '441', '441', '422', '42-22', '70', '441', '37-11', '2976', '595', '611', '135', '286', '118', '96-05', '85', '2926', '200', '680', '441', '300', '43', '250', '383', '568', '105', '441', '17', '441', '136-50', '725', '349', '296', '96-05', '242', '441', '441', '102-01', '130', '200', '17', '151', '2307', '542', '441', '14', '90-15', '136-50', '49', '136-50', '441', '1441', '136-50', '40', '96-05', '136-50', '136-50', '90-15', '441', '142', '560', '441', '1409', '136-50', '2175', '151', '441', '90-15', '8400', '441', '185', '441', '1750', '220', '176', '144-64', '335', '90-15', '1000', '1000', '200', '18', '2300', '441', '125', '605', '74', '50', '70-09', '1', '441', '136-50', '441', '136-50', '9605', '200', '130', '168', '320', '200', '310', '185', '242', '200', '40-12', '69', '447', '35', '346', '3025', '1', '38-48', '32', '607', '441', '281', '117', '461', '1790', '200', '143', '215', '851', '1559', '1740', '825', '136-32', '1221', '325', '560', '1000', '1634', '230', '1409', '215', '1945', '1945', '90', '441', '5805', '441', '1166', '451', '222', '200', '441', '1140', '70', '50', '441', '441', '1559', '1469', '441', '441', '23', '441', '1271', '133', '125', '40-24', '540', '1075', '680', '136-50', '136-50', '140-45', '29', '44-36', '600', '1970', '611', '425', '4020', '151', '375', '1', '869', '2770', '46', '37-55', '146', '441', '136-50', '441', '2110', '2110', '441', '50', '30', '50', '270-05', '441', '200', '441', '5804', '136-50', '441', '441', '50', '441', '150', '1700', '1700', '1000', '1991', '350', '441', '46', '136-40', '2655', '152-02', '339', '200', '1159', '2324', '441', '5480', '156', '2655', '441', '1441', '40', '136-50', '441', '154', '1', '404', '125', '441', '424', '151', '241', '441', '300', '380', '1118', '1441', '680', '11', '1065', '90-15', '44-14', '1875', '435', '405', '151', '450', '500', '441', '441', '930', '30', '151', '67', '7', '441', '151', '1402', '441', '1', '100', '40-22', '320', '405', '220', '250', '1410', '151', '401', '215', '441', '200', '151', '1441', '200', '40', '455', '139-66', '530', '715', '1409', '1118', '112', '250', '454', '1385', '277', '674', '765', '441', '441', '3503', '1409', '200', '4025', '1', '1', '441', '1441', '30', '1', '441', '10', '13', '441', '2654', '240', '1449', '951', '435', '441', '700', '441', '1118', '441', '200', '450', '441', '100', '441', '136-50', '2281', '2289', '919', '301', '120', '441', '441', '441', '251', '441', '136-20', '40-01', '60', '441', '111', '1221', '517', '156-17', '280', '277', '609', '500', '441', '308', '30', '1441', '441', '441', '445', '441', '19', '33-38', '200', '90-15', '382', '100', '200', '1744', '90', '4', '345', '2285', '2815', '441', '875', '609', '136-20', '10', '200', '441', '422', '559', '2', '441', '503', '45', '285', '86', '100', '2776', '336', '441', '145', '1251', '1839', '90-15', '180', '1275', '1', '1', '441', '1', '1710', '301', '11', '105', '53', '9', '234', '510', '180', '200', '10', '2655', '441', '489', '517', '400', '200', '441', '441', '100', '151', '1118', '100', '100', '30', '52', '1025', '450', '410', '200', '100', '103', '30', '4', '441', '99-31', '410', '30', '139', '281', '150', '100', '811', '99', '1118', '162-10', '100', '834', '1000', '1335', '2060', '360', '90-15', '200', '305', '535', '200', '151', '151', '1', '225', '151', '226', '555', '147', '150', '30', '151', '151', '101', '1580', '38', '1', '112', '112', '1536', '625', '517', '90-15', '441', '90-15', '22', '20', '112', '421', '1451', '825', '441', '65', '75-06', '41-90', '1515', '2310', '1330', '441', '55', '15', '19', '138', '1507', '3340', '222', '441', '270', '441', '4-3', '441', '140', '462', '2926', '1118', '2589', '154', '1514', '441', '609', '388', '442', '165', '441', '441', '112', '100', '200', '2', '140', '1', '2655', '1008', '138', '125', '2111', '571', '200', '66', '90-01', '535', '841', '50', '258-01', '1118', '5', '123', '10', '228', '441', '305', '422', '441', '1720', '5903', '517', '90-15', '112', '9015', '177', '90-01', '441', '210', '100', '165', '441', '627', '441', '41', '55', '344', '441', '605', '350', '1001', '3549', '85', '422', '1711', '1000', '441', '336', '872', '2550', '1', '112', '555', '50', '30', '200', '2589', '1', '45', '441', '441', '481', '243', '30', '160', '112', '555', '905', '245', '30', '5', '1075', '1000', '125-01', '422', '3905', '26-01', '168-46', '22', '851', '1305', '777', '61-27', '1909', '1118', '627', '1129', '85-11', '1243', '9015', '133', '225', '20', '281', '45-30', '1535', '104', '86', '71', '20', '193', '1048', '40', '109', '230', '540', '1235', '170', '130', '3030', '239', '345', '344', '430', '509', '86-20', '139', '541', '145', '350', '460', '200', '114', '392']

In [46]:
# put together, using list comprehension to merge two lists together
bad_places = [ num + " " + street for num, street in zip(house_numbers, street_names)]
print(bad_places)

['136-50 ROOSEVELT AVENUE', '151 WEST   34 STREET', '2411 8 AVENUE', '151 WEST   34 STREET', '60 EAST   54 STREET', '10307 FLATLANDS AVENUE', '136-50 ROOSEVELT AVENUE', '452 5 AVENUE', '212 EAST   47 STREET', '115 LOGAN STREET', '200 WEST   58 STREET', '842 UNION STREET', '529 WEST   20 STREET', '94 EAST    1 STREET', '65 OCEAN AVENUE', '125 EAST   72 STREET', '151 WEST   34 STREET', '2895 BEDFORD AVENUE', '151 WEST   34 STREET', '2655 RICHMOND AVENUE', '3410 DEREIMER AVENUE', '246 WEST   44 STREET', '151 WEST   34 STREET', '1439 METROPOLITAN AVENUE', '271 CONVENT AVENUE', '45 BROADWAY', '5102 AVENUE U', '151 WEST   34 STREET', '136-50 ROOSEVELT AVENUE', '441 7 AVENUE', '112 CENTRAL PARK SOUTH', '303 EAST   57 STREET', '1401 METROPOLITAN AVENUE', '136-50 ROOSEVELT AVENUE', '136-50 ROOSEVELT AVENUE', '136-50 ROOSEVELT AVENUE', '216 ROCKAWAY AVENUE', '136-50 ROOSEVELT AVENUE', '39 BROADWAY', '3041 BROADWAY', '450 FLUSHING AVENUE', '441 7 AVENUE', '380 COZINE AVENUE', '1 BEACH  105 STREET', '32 BROADWAY', '10 COLUMBUS CIRCLE', '151 WEST   34 STREET', '3340 BAILEY AVENUE', '441 7 AVENUE', '136-50 ROOSEVELT AVENUE', '124-21 FLATLANDS AVENUE', '1745 BROADWAY', '34-05 12 STREET', '868 AMSTERDAM AVENUE', '622 3 AVENUE', '274 WEST   19 STREET', '12421 FLATLANDS AVENUE', '441 7 AVENUE', '1535 BROADWAY', '139-05 85 DRIVE', '2190 MADISON AVENUE', '830 5 AVENUE', '830 5 AVENUE', '2307 BEVERLY ROAD', '191 SANDS STREET', '77 PARK AVENUE', '575 CASTLEHILL AVENUE', '4149 KINGS HIGHWAY', '575 CASTLEHILL AVENUE', '441 7 AVENUE', '161-10 JAMAICA AVENUE', '35 EAST  176 STREET', '1439 METROPOLITAN AVENUE', '1409 METROPOLITAN AVENUE', '136-50 ROOSEVELT AVENUE', '322 EAST   57 STREET', '1409 METROPOLITAN AVENUE', '441 7 AVENUE', '866 3 AVENUE', '151 WEST   34 STREET', '20 WEST   64 STREET', '2260 BRONX PARK EAST', '2170 MADISON AVENUE', '1735 DAVIDSON AVENUE', '451 WEST END AVENUE', '2655 RICHMOND AVENUE', '40 WASHINGTON STREET', '286 EASTERN PARKWAY', '463 WEST STREET', '151 WEST   34 STREET', '136-50 ROOSEVELT AVENUE', '332 WEST   11 STREET', '1815 DAVIDSON AVENUE', '1555 ROCKAWAY PARKWAY', '136-50 ROOSEVELT AVENUE', '530 EAST  169 STREET', '1998 BRUCKNER BOULEVARD', '2950 WEST   33 STREET', '116 WEST   23 STREET', '151 WEST   34 STREET', '4 IRVING PLACE', '151 WEST   34 STREET', '370 EAST  153 STREET', '2225 LACOMBE AVENUE', '441 7 AVENUE', '151 WEST   34 STREET', '781 WASHINGTON AVENUE', '151 WEST   34 STREET', '135 BEACH   19 STREET', '151 WEST   34 STREET', '395 SOUTH END AVENUE', '1830 FIRST AVENUE', '157 WEST   18 STREET', '53 WARREN STREET', '441 7 AVENUE', '1825 EASTCHESTER ROAD', '136-50 ROOSEVELT AVENUE', '21 MAIDEN LANE', '200 PARK AVENUE', '1889 SEDGWICK AVENUE', '136-50 ROOSEVELT AVENUE', '430 WEST  125 STREET', '189 ALLEN STREET', '441 7 AVENUE', '14 53 STREET', '1998 BRUCKNER BOULEVARD', '151 WEST   34 STREET', '151 WEST   34 STREET', '36 7 AVENUE', '1420 AMSTERDAM AVENUE', '1420 AMSTERDAM AVENUE', '3250 BROADWAY', '2187 HOLLAND AVENUE', '96-05 QUEENS BOULEVARD', '2307 BEVERLY ROAD', '151 WEST   34 STREET', '1411 METROPOLITAN AVENUE', '1315 AMSTERDAM AVENUE', '33 BOWERY', '136-20 38 AVENUE', '12 COURT STREET', '341 EAST   70 STREET', '200 PARK AVENUE', '201 WEST   77 STREET', '1455 HARROD AVENUE', '2999 8 AVENUE', '1385 5 AVENUE', '1154 WARD AVENUE', '441 7 AVENUE', '441 7 AVENUE', '441 7 AVENUE', '1151 EAST  229 STREET', '64 WEST   35 STREET', '441 7 AVENUE', '130 PALMETTO STREET', '1 PARK ROW', '441 7 AVENUE', '215 EAST  161 STREET', '177 NAGLE AVENUE', '953 DEKALB AVENUE', '65 JEFFERSON STREET', '441 7 AVENUE', '80 5 AVENUE', '270-05 76 AVENUE', '459 WEST   18 STREET', '132 WEST   31 STREET', '214 EAST   52 STREET', '506 6 STREET', '1555 3 AVENUE', '1158 BOYNTON AVENUE', '1 BRYANT PARK', '2532 7 AVENUE', '260-19 NASSAU BOULEVARD', '40-20 BEACH CHANNEL DRIVE', '441 7 AVENUE', '625 ATLANTIC AVENUE', '5400 AVENUE U', '2160 MATTHEWS AVENUE', '200 EAST  161 STREET', '1000 SURF AVENUE', '491 BERGEN STREET', '220 EAST  115 STREET', '1451 WASHINGTON AVENUE', '422 FULTON STREET', '1170 EAST  229 STREET', '589 AMSTERDAM AVENUE', '67 EAST   11 STREET', '2975 WEST   33 STREET', '1000 SURF AVENUE', '3050 PARK AVENUE', '2655 RICHMOND AVENUE', '4140 DENMAN STREET', '22 LEWIS AVENUE', '66-26 METROPOLITAN AVENUE', '1000 SURF AVENUE', '112 RICHMOND HILL ROAD', '20 EAST   23 STREET', '11 EAST   30 STREET', '953 DEKALB AVENUE', '90-15 QUEENS BOULEVARD', '270 WEST   39 STREET', '2999 FREDERICK DOUGLAS BOULEVARD', '1992 BROADWAY', '1970 AMSTERDAM AVENUE', '159-26 HARLEM RIVER DRIVE', '1010 UNDERHILL AVENUE', '441 7 AVENUE', '1409 METROPOLITAN AVENUE', '15 WEST    4 STREET', '136-50 ROOSEVELT AVENUE', '46 MADISON STREET', '300 WEST  108 STREET', '428 EAST  137 STREET', '156 WEST  174 STREET', '65 BROADWAY', '148 LAFAYETTE STREET', '441 7 AVENUE', '1515 47 STREET', '312 EAST   95 STREET', '441 7 AVENUE', '2655 RICHMOND AVENUE', '90-15 QUEENS BOULEVARD', '46 EAST   91 STREET', '1100 TELLER AVENUE', '1441 METROPOLITAN AVENUE', '154 BROOME STREET', '100 CHURCH STREET', '2991 8 AVENUE', '25 WEST   53 STREET', '360 DUMONT AVENUE', '1734 MADISON AVENUE', '2307 BEVERLY ROAD', '1132 EAST  229 STREET', '20 CATHERINE SLIP', '40 RICHMAN PLAZA', '136-50 ROOSEVELT AVENUE', '190 YORK STREET', '140 BROADWAY', '83-60 118 STREET', '151 WEST   34 STREET', '5400 AVENUE U', '466 LEXINGTON AVENUE', '341 9 AVENUE', '17 BATTERY PLACE', '96-05 QUEENS BOULEVARD', '441 7 AVENUE', '153 BRABANT STREET', '2375 SOUTHERN BOULEVARD', '1241 6 AVENUE', '23-25 BELL BOULEVARD', '32 BROADWAY', '44 WALL STREET', '130 PALMETTO STREET', '2130 MADISON AVENUE', '151 WEST   34 STREET', '270 MADISON AVENUE', '699 6 AVENUE', '125 MAIDEN LANE', '422 FULTON STREET', '101 HUMBOLT STREET', '36-17 PARSONS BOULEVARD', '66-26 METROPOLITAN AVENUE', '405 EAST  105 STREET', '550 RIVERSIDE DRIVE', '1409 METROPOLITAN AVENUE', '151 WEST   34 STREET', '151 WEST   34 STREET', '309 WEST   49 STREET', '160 WATER STREET', '1135 EAST  229 STREET', '2 GOLD STREET', '441 7 AVENUE', '441 7 AVENUE', '1998 BRUCKNER BOULEVARD', '225 COOK STREET', '710 HUNTS POINT AVENUE', '1409 METROPOLITAN AVENUE', '760 EAST  166 STREET', '136-50 ROOSEVELT AVENUE', '1175 EAST  229 STREET', '100 CENTRE STREET', '265-31 76 AVENUE', '441 7 AVENUE', '151 WEST   34 STREET', '420 FULTON STREET', '799 KENT AVENUE', '840 COLUMBUS AVENUE', '2505 OLINVILLE AVENUE', '1 WEST   39 STREET', '132-35 41 ROAD', '243 WEST   42 STREET', '151 WEST   34 STREET', '147 FLATBUSH AVENUE EXTENSION', '1000 SURF AVENUE', '109-20 71 ROAD', '115 WOOSTER STREET', '2395 TIEBOUT AVENUE', '130 EAST 68 STREET', '30-15 NEWTOWN AVENUE', '4 SOUTH STREET', '102 WEST   80 STREET', '123 WEST   13 STREET', '136-50 ROOSEVELT AVENUE', '136-50 ROOSEVELT AVENUE', '441 7 AVENUE', '1000 PELHAM PARKWAY', '372 BROOME STREET', '62 READE STREET', '56-33 MAIN STREET', '90-28 VAN WYCK EXPRESSWAY', '340 EAST   23 STREET', '19-21 BROOKHAVEN AVENUE', '151 WEST   34 STREET', '1275 LINDEN BOULEVARD', '96 BOERUM PLACE', '441 7 AVENUE', '115 EAST   23 STREET', '1455 HARROD AVENUE', '1000 5 AVENUE', '1315 AMSTERDAM AVENUE', '441 7 AVENUE', '95-05 QUEENS BOULEVARD', '9 WEST   35 STREET', '151 WEST   34 STREET', '747 EAST  168 STREET', '102 NORTH END AVENUE', '96-05 QUEENS BOULEVARD', '13650 ROOSEVELT AVENUE', '1249 5 AVENUE', '110 WEST   40 STREET', '1345 5 AVENUE', '325 WEST   37 STREET', '52 39 STREET', '1734 MADISON AVENUE', '200 CENTRAL PARK WEST', '246 SPRING STREET', '200 PARK AVENUE', '1735 MADISON AVENUE', '151 WEST   34 STREET', '441 7 AVENUE', '25 CHURCH STREET', '151 WEST   11 STREET', '441 7 AVENUE', '5400 AVENUE U', '151 WEST   34 STREET', '674 EAST  149 STREET', '9605 QUEENS BOULEVARD', '200 MURRAY STREET', '130 LIBERTY STREET', '1745 BROADWAY', '830 5 AVENUE', '96-05 QUEENS BOULEVARD', '441 7 AVENUE', '151 WEST   34 STREET', '2307 BEVERLY ROAD', '2307 BEVERLY ROAD', '340 FROST STREET', '20 EAST   35 STREET', '8844 161 STREET', '441 7 AVENUE', '441 7 AVENUE', '1441 METROPOLITAN AVENUE', '2307 BEVERLY ROAD', '441 7 AVENUE', '1111 6 AVENUE', '429 DUMONT AVENUE', '241 HOYT STREET', '200 PARK AVENUE', '37 NEW LOTS AVENUE', '1000 SURF AVENUE', '1515 BROADWAY', '26 COURT STREET', '64-21 BOOTH STREET', '136-50 ROOSEVELT AVENUE', '267 WEST   87 STREET', '325 GOLD STREET', '333 WEST   14 STREET', '245 10 AVENUE', '1160 EAST  229 STREET', '425 EAST  105 STREET', '2855 ST THERESA AVENUE', '2680 8 AVENUE', '135 AMERSFORT PLACE', '151 WEST   34 STREET', '102-50 62 ROAD', '1809 3 AVENUE', '1694 MADISON AVENUE', '997 DEKALB AVENUE', '540 1 AVENUE', '331 EAST   29 STREET', '1317 WEST FARMS ROAD', '1317 WEST FARMS ROAD', '240 PARK AVENUE SOUTH', '361 LIVONIA AVENUE', '90-15 QUEENS BOULEVARD', '420 FULTON STREET', '420 FULTON STREET', '32-52 JONES WALK', '9605 QUEENS BOULEVARD', '2307 BEVERLY ROAD', '200 WEST   24 STREET', '151 WEST   34 STREET', '441 7 AVENUE', '441 7 AVENUE', '441 7 AVENUE', '422 FULTON STREET', '42-22 KETCHAM STREET', '70 LITTLE WEST STREET', '441 7 AVENUE', '37-11 MAIN STREET', '2976 MARION AVENUE', '595 MADISON AVENUE', '611 5 AVENUE', '135 WILLIAM STREET', '286 SOUTH STREET', '118 AVENUE D', '96-05 QUEENS BOULEVARD', '85 TAYLOR STREET', '2926 WEST   25 STREET', '200 PARK AVENUE', '680 5 AVENUE', '441 7 AVENUE', '300 WEST  125 STREET', '43 WEST   22 STREET', '250 WEST   39 STREET', '383 PULASKI STREET', '568 PACIFIC STREET', '105 HEWES STREET', '441 7 AVENUE', '17 STATE STREET', '441 7 AVENUE', '136-50 ROOSEVELT AVENUE', '725 GARDEN STREET', '349 SUYDAM STREET', '296 DELANCY STREET', '96-05 QUEENS BOULEVARD', '242 WEST   38 STREET', '441 7 AVENUE', '441 7 AVENUE', '102-01 66 ROAD', '130 LIBERTY STREET', '200 RECTOR PLACE', '17 BATTERY PLACE', '151 WEST   34 STREET', '2307 BEVERLY ROAD', '542 ROSEDALE AVENUE', '441 7 AVENUE', '14 JACKSON STREET', '90-15 QUEENS BOULEVARD', '136-50 ROOSEVELT AVENUE', '49 CROWN STREET', '136-50 ROOSEVELT AVENUE', '441 7 AVENUE', '1441 METROPOLITAN AVENUE', '136-50 ROOSEVELT AVENUE', '40 OCEANA DRIVE WEST', '96-05 QUEENS BOULEVARD', '136-50 ROOSEVELT AVENUE', '136-50 ROOSEVELT AVENUE', '90-15 QUEENS BOULEVARD', '441 7 AVENUE', '142 HENRY STREET', '560 1 AVENUE', '441 7 AVENUE', '1409 METROPOLITAN AVENUE', '136-50 ROOSEVELT AVENUE', '2175 1 AVENUE', '151 WEST   34 STREET', '441 7 AVENUE', '90-15 QUEENS BOULEVARD', '8400 SHORE FRONT PARKWAY', '441 7 AVENUE', '185 NEVINS STREET', '441 7 AVENUE', '1750 OCEAN PARKWAY', '220 THROOP AVENUE', '176 JOHNSON STREET', '144-64 SANFORD AVENUE', '335 SUTTER AVENUE', '90-15 QUEENS BOULEVARD', '1000 SURF AVENUE', '1000 SURF AVENUE', '200 PARK AVENUE', '18 WEST HOUSTON STREET', '2300 SOUTHERN BOULEVARD', '441 7 AVENUE', '125 EAST   50 STREET', '605 WEST   48 STREET', '74 WEST   92 STREET', '50 EAST  102 STREET', '70-09 AUSTIN STREET', '1 IRVING PLACE', '441 7 AVENUE', '136-50 ROOSEVELT AVENUE', '441 7 AVENUE', '136-50 ROOSEVELT AVENUE', '9605 QUEENS BOULEVARD', '200 PARK AVENUE', '130 EAST   39 STREET', '168 HOOPER STREET', '320 5 AVENUE', '200 CENTRAL PARK WEST', '310 WEST   38 STREET', '185 WEST BROADWAY', '242 WEST  104 STREET', '200 PARK AVENUE', '40-12 10 STREET', '69 WEST  225 STREET', '447 7 AVENUE', '35 WEST    4 STREET', '346 BROADWAY', '3025 WEST   12 STREET', '1 NATHAN D PERLMAN PLACE', '38-48 RUTGERS STREET', '32 BROADWAY', '607 HUDSON STREET', '441 7 AVENUE', '281 1 AVENUE', '117 WEST   90 STREET', '461 8 AVENUE', '1790 STORY AVENUE', '200 PARK AVENUE', '143 WEST   11 STREET', '215 ALEXANDER AVENUE', '851 GRAND CONCOURSE', '1559 MADISON AVENUE', '1740 BROADWAY', '825 3 AVENUE', '136-32 ROOSEVELT AVENUE', '1221 6 AVENUE', '325 EAST  143 STREET', '560 WEST  170 STREET', '1000 SURF AVENUE', '1634 ST MARKS AVENUE', '230 WEST   54 STREET', '1409 METROPOLITAN AVENUE', '215 EAST  161 STREET', '1945 AMSTERDAM AVENUE', '1945 AMSTERDAM AVENUE', '90 PINEHURST AVENUE', '441 7 AVENUE', '5805 7 AVENUE', '441 7 AVENUE', '1166 6 AVENUE', '451 EAST  102 STREET', '222 EAST   39 STREET', '200 CPW', '441 7 AVENUE', '1140 CLAY AVENUE', '70 CLYMER STREET', '50 WEST   15 STREET', '441 7 AVENUE', '441 7 AVENUE', '1559 MADISON AVENUE', '1469 BROADWAY', '441 7 AVENUE', '441 7 AVENUE', '23 WALTON STREET', '441 7 AVENUE', '1271 6 AVENUE', '133 WEST   90 STREET', '125 WHITE STREET', '40-24 COLLEGE POINT BOULEVARD', '540 1 AVENUE', '1075 EAST  179 STREET', '680 5 AVENUE', '136-50 ROOSEVELT AVENUE', '136-50 ROOSEVELT AVENUE', '140-45 ASH AVENUE', '29 WEST   36 STREET', '44-36 VERNON BOULEVARD', '600 5 AVENUE', '1970 EAST   18 STREET', '611 CROTONA PARK NORTH', '425 EAST   61 STREET', '4020 BEACH CHANNEL DRIVE', '151 WEST   34 STREET', '375 PARK AVENUE', '1 SMITH STREET', '869 FLUSHING AVENUE', '2770 FREDRICK DOUGLAS BOULEVARD', '46 MADISON STREET', '37-55 77 STREET', '146 BEACH   59 STREET', '441 7 AVENUE', '136-50 ROOSEVELT AVENUE', '441 7 AVENUE', '2110 8 AVENUE', '2110 FREDRICK DOUGLAS BOULEVARD', '441 7 AVENUE', '50 AMSTERDAM AVENUE', '30 BROAD STREET', '50 AMSTERDAM AVENUE', '270-05 76 AVENUE', '441 7 AVENUE', '200 5 AVENUE', '441 7 AVENUE', '5804 FARRAGUT ROAD', '136-50 ROOSEVELT AVENUE', '441 7 AVENUE', '441 7 AVENUE', '50 AVENUE D', '441 7 AVENUE', '150 ALBANY AVENUE', '1700 BEDFORD AVENUE', '1700 BEDFORD AVENUE', '1000 SURF AVENUE', '1991 BROADWAY', '350 PARK AVENUE', '441 7 AVENUE', '46 MADISON STREET', '136-40 ROOSEVELT AVENUE', '2655 RICHMOND AVENUE', '152-02 JAMAICA AVENUE', '339 WEST   36 STREET', '200 PARK AVENUE', '1159 229 DRIVE NORTH', '2324 PAULDING AVENUE', '441 7 AVENUE', '5480 BROADWAY', '156 MYRTLE AVENUE', '2655 RICHMOND AVENUE', '441 7 AVENUE', '1441 METROPOLITAN AVENUE', '40 WEST    4 STREET', '136-50 ROOSEVELT AVENUE', '441 7 AVENUE', '154 WEST 14 STREET', '1 EDGEWATER PLAZA', '404 EAST  105 STREET', '125 NOSTRAND AVENUE', '441 7 AVENUE', '424 5 AVENUE', '151 WEST 34 STREET', '241 WEST   37 STREET', '441 7 AVENUE', '300 WEST  125 STREET', '380 MADISON AVENUE', '1118 GRAND CONCOURSE', '1441 METROPOLITAN AVENUE', '680 TINTON AVENUE', '11 WEST   36 STREET', '1065 6 AVENUE', '90-15 QUEENS BOULEVARD', '44-14 PARSONS BOULEVARD', '1875 3 AVENUE', '435 EAST   83 STREET', '405 EAST  105 STREET', '151 WEST   34 STREET', '450 WEST   33 STREET', '500 7 AVENUE', '441 7 AVENUE', '441 7 AVENUE', '930 EAST    4 WALK', '30 ROCKEFELLER PLAZA', '151 WEST 34 STREET', '67 PARK AVENUE', '7 EAST 57 STREET', '441 7 AVENUE', '151 WEST 34 STREET', '1402 AVENUE K', '441 7 AVENUE', '1 TIMES SQUARE', '100 WEST 33 STREET', '40-22 COLLEGE POINT BOULEVARD', '320 MORRIS AVENUE', '405 WEST   23 STREET', '220 EAST  115 STREET', '250 EAST   49 STREET', '1410 BROADWAY', '151 WEST 34 STREET', '401 EAST   30 STREET', '215 EAST 161 STREET', '441 7 AVENUE', '200 PARK AVENUE', '151 WEST 34 STREET', '1441 METROPOLITAN AVENUE', '200 CENTRAL PARK WEST', '40 WEST 25 STREET', '455 NORTH END AVENUE', '139-66 35 AVENUE', '530 1 AVENUE', '715 BROADWAY', '1409 METROPOLITAN AVENUE', '1118 GRANDCONCOURSE', '112 RICHMOND HILL ROAD', '250 CLINTON STREET', '454 EAST  105 STREET', '1385 5 AVENUE', '277 PARK AVENUE', '674 EAST  149 STREET', '765 EAST  163 STREET', '441 7 AVENUE', '441 7 AVENUE', '3503 FOSTER AVENUE', '1409 METROPOLITAN AVENUE', '200 PARK AVENUE', '4025 COLLEGE POINT BOULEVARD', '1 TIMES SQUARE', '1 ROCKEFELLER PLAZA', '441 7 AVENUE', '1441 METROPOLITAN AVENUE', '30 ROCKEFELLER PLAZA', '1 PENN PLAZA', '441 7 AVENUE', '10 COLUMBUS CIRCLE', '13 WEST 27 STREET', '441 7 AVENUE', '2654 8 AVENUE', '240 WEST   65 STREET', '1449 METROPOLITAN AVENUE', '951 WOODYCREST AVENUE', '435 EAST 105 STREET', '441 7 AVENUE', '700 EAST  156 STREET', '441 7 AVENUE', '1118 GRANDCONCOURSE', '441 7 AVENUE', '200 PARK AVENUE', '450 WEST   33 STREET', '441 7 AVENUE', '100 WEST 33 STREET', '441 7 AVENUE', '136-50 ROOSEVELT AVENUE', '2281 BROADWAY', '2289 BROADWAY', '919 3 AVENUE', '301 PARK AVENUE', '120 WEST   91 STREET', '441 7 AVENUE', '441 7 AVENUE', '441 7 AVENUE', '251 MERCER STREET', '441 7 AVENUE', '136-20 ROOSEVELT AVENUE', '40-01 43 AVENUE', '60 WEST   34 STREET', '441 7 AVENUE', '111 CENTRE STREET', '1221 6 AVENUE', '517 EAST 117 STREET', '156-17 71 AVENUE', '280 BROADWAY', '277 PARK AVENUE', '609 5 AVENUE', '500 LEXINGTON AVENUE', '441 7 AVENUE', '308 SUTTER AVENUE', '30 ROCKEFELLER PLAZA', '1441 METROPOLITAN AVENUE', '441 7 AVENUE', '441 7 AVENUE', '445 LENOX ROAD', '441 7 AVENUE', '19 BEEKMAN STREET', '33-38 PARSONS BOULEVARD', '200 PARK AVENUE', '90-15 QUEENS BOULEVARD', '382 3 AVENUE', '100 CENTRE STREET', '200 PARK AVENUE', '1744 CLAY AVENUE', '90 AVENUE D', '4 NEW YORK PLAZA', '345 ADAMS STREET', '2285 BRAGG STREET', '2815 ATLANTIC AVENUE', '441 7 AVENUE', '875 3 AVENUE', '609 5 AVENUE', '136-20 ROOSEVELT AVENUE', '10 COLUMBUS CIRCLE', '200 EAST 59 STREET', '441 7 AVENUE', '422 FULTON STREET', '559 ROCKAWAY PARKWAY', '2 EAST 55 STREET', '441 7 AVENUE', '503 FULTON STREET', '45 RIVINGTON STREET', '285 MADISON AVENUE', '86 FLEET PLACE', '100 COLUMBUS AVENUE', '2776 JEROME AVENUE', '336 EAST 81 STREET', '441 7 AVENUE', '145 WEST 44 STREET', '1251 6 AVENUE', '1839 UNIVERSITY AVENUE', '90-15 QUEENS BOULEVARD', '180 LUDLOW STREET', '1275 LINDEN BOULEVARD', '1 EAST 33 STREET', '1 CENTRE STREET', '441 7 AVENUE', '1 PENN PLAZA', '1710 RANDALL AVENUE', '301 PARK AVENUE', '11 METROTECH CENTER', '105 CASSIDY PLACE', '53 WEST 53 STREET', '9 WEST 53 STREET', '234 WEST 42 STREET', '510 WEST 46 STREET', '180 WEST 20 STREET', '200 PARK AVENUE', '10 ROCKEFELLER PLAZA', '2655 RICHMOND AVENUE', '441 7 AVENUE', '489 5 AVENUE', '517 EAST 117 STREET', '400 WEST 12 STREET', '200 PARK AVENUE', '441 7 AVENUE', '441 7 AVENUE', '100 WEST 33 STREET', '151 WEST 34 STREET', '1118 GRAND CONCOURSE', '100 WEST 33 STREET', '100 WEST 33 STREET', '30 ROCKEFELLER PLAZA', '52 WILLIAM STREET', '1025 BOARDWALK', '450 DEKALB AVENUE', '410 STATE STREET', '200 PARK AVENUE', '100 CENTRE STREET', '103 PRINCE STREET', '30 ROCKEFELLER PLAZA', '4 SOUTH STREET', '441 7 AVENUE', '99-31 66 AVENUE', '410 WESTCHESTER AVENUE', '30 WASHINGTON PLACE', '139 FLATBUSH AVENUE', '281 EAST 143 STREET', '150 WEST 65 STREET', '100 WEST 33 STREET', '811 7 AVENUE', '99 PARK AVENUE', '1118 GRAND CONCOURSE', '162-10 JAMAICA AVENUE', '100 WEST 33 STREET', '834 SURF AVENUE', '1000 SURF AVENUE', '1335 6 AVENUE', '2060 3 AVENUE', '360 ADAMS STREET', '90-15 QUEENS BOULEVARD', '200 PARK AVENUE', '305 EAST 80 STREET', '535 JACKSON AVENUE', '200 PARK AVENUE', '151 WEST 34 STREET', '151 WEST 34 STREET', '1 TIMES SQUARE', '225 EAST 70 STREET', '151 WEST 34 STREET', '226 WEST 52 STREET', '555 WEST 57 STREET', '147 GREEN STREET', '150 74 STREET', '30 ROCKEFELLER PLAZA', '151 WEST 34 STREET', '151 WEST 34 STREET', '101 EAST 14 STREET', '1580 EAST 19 STREET', '38 EAST 30 STREET', '1 WEST 57 STREET', '112 WEST 34 STREET', '112 WEST 34 STREET', '1536 LEXINGTON AVENUE', '625 ATLANTIC AVENUE', '517 EAST 117 STREET', '90-15 QUEENS BOULEVARD', '441 7 AVENUE', '90-15 QUEENS BOULEVARD', '22 CORTLANDT STREET', '20 WEST 64 STREET', '112 RICHMOND HILL ROAD', '421 1 AVENUE', '1451 BROADWAY', '825 8 AVENUE', '441 7 AVENUE', '65 JEFFERSON STREET', '75-06 WOODSIDE AVENUE', '41-90 FRAME PLACE', '1515 BROADWAY', '2310 BROADWAY', '1330 1 AVENUE', '441 7 AVENUE', '55 WATER STREET', '15 WEST 56 STREET', '19 SUTTON PLACE', '138 6 AVENUE', '1507 BROADWAY', '3340 BAILEY AVENUE', '222 BROADWAY', '441 7 AVENUE', '270 WEST 45 STREET', '441 7 AVENUE', '4-3 ASTORIA BOULEVARD', '441 7 AVENUE', '140 BEACH 112 STREET', '462 7 AVENUE', '2926 WEST 25 STREET', '1118 GRAND CONCOURSE', '2589 RICHMOND AVENUE', '154 EAST 53 STREET', '1514 BROADWAY', '441 7 AVENUE', '609 5 AVENUE', '388 EAST 141 STREET', '442 COLUMBIA STREET', '165 MANHATTAN AVENUE', '441 7 AVENUE', '441 7 AVENUE', '112 RICHMOND HILL ROAD', '100 COLUMBUS AVENUE', '200 PARK AVENUE', '2 UN PLAZA', '140 WEST 65 STREET', '1 TEST STREET', '2655 RICHMOND AVENUE', '1008 ST MARKS AVENUE', '138 WEST 54 STREET', '125 TAYLOR STREET', '2111 LAFONTAINE AVENUE', '571 5 AVENUE', '200 WEST 131 STREET', '66 AINSLIE STREET', '90-01 QUEENS BOULEVARD', '535 5 AVENUE', '841 UNION STREET', '50 BROADWAY', '258-01 UNION TURNPI

In [49]:
# there are the places to NEVER take the elevator
from collections import Counter
# give me the top 10 most reported addresses with elevator accidents
worst_places = Counter(bad_places).most_common(10)

print(worst_places)

[('441 7 AVENUE', 125), ('136-50 ROOSEVELT AVENUE', 34), ('151 WEST   34 STREET', 34), ('200 PARK AVENUE', 22), ('90-15 QUEENS BOULEVARD', 14), ('1000 SURF AVENUE', 11), ('151 WEST 34 STREET', 11), ('1409 METROPOLITAN AVENUE', 9), ('30 ROCKEFELLER PLAZA', 9), ('2655 RICHMOND AVENUE', 8)]

In [45]:
# how to use zip to merge 2 lists?
list_a = [2,3,4]
list_b = [4,5,6]
print(list(zip(list_a,list_b)))

for x,y in list(zip(list_a,list_b)):
    print(x)

[(2, 4), (3, 5), (4, 6)]
2
3
4